---
- name: "Check if directory exists."
  stat:
    path: "/{{ path | replace('__HOME__', ansible_env.HOME) | ltrim('/') }}"
  register: directory_item

- name: "Ensure directory is created."
  file:
    path: "/{{ path | replace('__HOME__', ansible_env.HOME) | ltrim('/') }}"
    state: directory
    mode: "{{ mode }}"
  when: directory_item.stat.exists == false
